In [1]:
scores=[7,8,9,10,11]
unique=list(set(scores))
sort=sorted(unique,reverse=True)
print("Top seecond is :",sort[1])

Top seecond is : 10

In [3]:
s1={5,6,8,9,47}
s2={6,3,22,5,8}
if s1.intersection(s2):
    print(s1&s2)
else:
    print(s1.union(s2))

{8, 5, 6}

In [6]:
D=D={'John' :[25,32,43],'Peter':[87,55,96],'Ram':[58,55,43],'Meena':[63,79,85]}
n=input("Enter  the name to be upload")
if n in D:
    D[n]=[88,77,99]
    print(D)
else:
    print('Name not found')

Enter  the name to be uploadJohn
{'John': [88, 77, 99], 'Peter': [87, 55, 96], 'Ram': [58, 55, 43], 'Meena': [63, 79, 85]}

In [7]:
s='Nirmala'
s[::2]

'Nraa'

In [9]:
age=[23,36,48]
print('Elder = ',max(age))
print("youngest =",min(age))

Elder =  48
youngest = 23